html ,
body , 
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-size: 62.5%; 
}
body {
    background-color: aqua;
    font-family: 'Merriweather', serif;
}

.main-header {
    font-size: 10em;
    text-align: center;
    color: black;
    border: 1rem solid black;
    margin-left: 50rem;
    margin-right: 50rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.parent {
    font-size: 50px;
    display: flex;
    justify-content: space-between;

}
.child-1 {
  width: 28%;
  height: 55%;
  border: 3px solid black ;
  text-align: center;
  background-color: lightgray;
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em;

}
.child-2 {
    width: 28%;
  height: 55%;
  border: 3px solid black ;
  text-align: center;
  background-color: lightgray;
  box-shadow: 4px 4px 8px;
  margin-bottom: 3em; 
}
.child-3 {
    width: 28%;
    height: 55%;
    border: 3px solid black ;
    text-align: center;
    background-color: lightgray;
    box-shadow: 4px 4px 8px;
    margin-bottom: 3em;
}


  #img-2{
    width: 25rem;
    height: 25rem;
    border: 5px solid black;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}
.child:hover {
  transform: scale(1.15);
  transition: all 0.3s ease-in;
}

.main-header:hover {
  transform: scale(1.25);
  filter: opacity(0);
}
.main-header {
  transition: all 0.3s ease-in-out;
}

.adult-1:hover{
  border: lightgray;
}

#img-2:hover {
  transition: all 0.3s ease-in-out;
  filter: grayscale(100%);
}
.parent:hover  .child:not(:hover) {
  opacity: 0.3s;
  transform: scale(0.7);
  transition: all 0.3s ease-in;
}
.animation {
  height: 2rem;
  width: 2rem;
  animation: job 5s infinite;
  position: absolute;
}